<img src="/css/logo.png" class="logo">
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/pages/about">About</a></li>
    <li><a href="/pages/terms-and-conditions">Terms and Conditions</a></li>
     <li><a href="/blog/page/0/">Blogs</a></li> 
</ul>
